[Unit]
Description=Python Mac Address Scanner
After=network.target

[Service]
ExecStart=/usr/bin/python3 /usr/local/pymacscanner/main.py
WorkingDirectory=/usr/local/pymacscanner/
Restart=always
User=root

[Install]
WantedBy=multi-user.target